body {
    background-color: #232323;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.square {
    width: 30%;
    margin: 1.66%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    border-radius: 15%;
    transition: background-color 0.6s;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

#colorDisplay {
    font-size: 200%;
}

h1 {
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: normal;
    background-color: steelblue;
    text-align: center;
    color: white;
    margin: 0;
    padding: 20px 0;
}

#stripe {
    height: 30px;
    background-color: white;
    text-align: center;
    color: black;
}

.selected {
    background-color: steelblue;
    color:white;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    color: steelblue;
    transition: all 0.3s;
}

#message {
    display: inline-block;
    width: 20%;
}

button:hover {
    color: white;
    background-color: steelblue;
}